*{
    margin:0;
}
body{
    background-color: #fffffffd;
}
.top-of-page{
    background-color: #3f73bd3b;
    height: 120px;
}
header{
    background-color: rgba(27, 104, 33, 0.521);
    height: 25%;
    width: 100%;
    margin-top: -1%;
}
.container{
    width: 100%;
    height: 100%;
}
h1{
    font-size: 3em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(14, 87, 14, 0.541);
    padding-top: 15px;
}
a{
    font-size: 2em;
    text-align: end;
    margin-left: 44em;
    font-family: 'Courier New', Courier, monospace;
}
#score,#cscore,#liveScore{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
}
#rock,#paper,#scissors{
    display: inline-block;
    width: 10%;
    height: 10%;
    margin: auto auto auto auto;
    border-radius: 12%;
    flex-wrap: wrap;
    margin-top: 2%;
}
#reset{
    width: 30%;
    height: 100px;
    margin: 10% 35% 0 35%;

}
footer{
    margin-top: 10%;
    margin-left: 24%;
    font-size: 10px;
}
