*{
    margin:0;
}
body{
    background-color: #e2e8f0;
}
.top-of-page{
    background-color: #64748b3b;
    height: 120px;
}
header{
    background-color: rgba(27, 104, 33, 0.521);
    height: 16em;
    width: 75%;
    margin-left: 12.5%;
    margin-top: -0.8%;
}

h1{
    font-size: 3em;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(14, 87, 14, 0.541);
    padding-top: 15px;
}
a{
    font-size: 2em;
    text-align: end;
    margin-left: 44em;
    font-family: 'Courier New', Courier, monospace;
}
#score,#cscore,#liveScore{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
}
#rock,#paper,#scissors{
    display: inline-block;
    width: 10em;
    height: 5em;
    margin: auto auto auto auto;
    border-radius: 6%;
    background-color: rgba(27, 104, 33, 0.521);
    flex-wrap: wrap;
}
#reset{
    width: 5em;
    height: 3em;
    margin-left: 48%;
    background-color: rgba(153, 13, 13, 0.548);

}
footer{
    margin-top: 10%;
    margin-left: 24%;
    font-size: 10px;
}
